/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	* {
		font-family: sans-serif, Arial;
	}
		
	html {
		padding-top: 2em;
		background-image: url("../images/bg.gif");
	}
			
	ul li {
		list-style: none;
		float: left;
	}
			
	ul li a {
		text-decoration: none;
		color: #FFF;
	}
	
	nav {
		margin-bottom: 1em;
	}
			
	.navlinks {
		padding-top: 1em;
		padding-left: 2em;
		text-align: center;
		width: 5em;
		height: 2em;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: 20% 50%;
	}
			
	ul {
		background-color: #222;
		width: 12em;
		height: 3em;
		vertical-align: middle;
		border-radius: 5px;
	}
			
	.rank0 {
		width: 380px;
		height: 380px;
		background-color: #222;
		background-image: url("http://userserve-ak.last.fm/serve/300x300/66586856.png");
		background-size: 100%;
		background-repeat: no-repeat;
		position: relative;
	}

	.rank1 {
		width: 190px;
		height: 190px;
		background-color: #222;
		background-image: url("http://userserve-ak.last.fm/serve/300x300/66586856.png");
		background-size: 100%;
		background-repeat: no-repeat;
		position: relative;
	}

	.rank2 {
		width: 95px;
		height: 95px;
		background-color: #222;
		background-image: url("http://userserve-ak.last.fm/serve/300x300/66586856.png");
		background-size: 100%;
		background-repeat: no-repeat;
		position: relative;
	}
	
	.links {
		display:none;
	}	

			
	.overlay0 {
		position: absolute;
		width: 100%;
		height: 5em;
		bottom: 0;
		background-color: rgba(3, 3, 3, 0.6);
	}
	
	.overlay0:hover {
		background-color: red;
	}
	
	.overlay1 {
		position: absolute;
		width: 100%;
		height: 4em;
		bottom: 0;
		background-color: rgba(3, 3, 3, 0.6);
	}
	
	.overlay1:hover {
		background-color: red;
	}
	
	.overlay2 {
		position: absolute;
		width: 100%;
		height: 2em;
		bottom: 0;
		background-color: rgba(3, 3, 3, 0.6);
	}
	
	.overlay2:hover {
		background-color: red;
	}
			
	.t0 {
		margin-top: .3em;	
		margin-left: .6em;
		font-size: 2em;
		font-weight: normal;
		color: #FFF;
	}
			
	.st0 {
		margin-left: 1.3em;
		font-weight: normal;
		color: #FFF;	
	}
	
	.t1 {
		margin-top: .3em;	
		margin-left: .5em;
		font-size: 1.4em;
		font-weight: normal;
		color: #FFF;
	}
	
	.st1 {
		margin-left: .8em;
		font-weight: normal;
		color: #FFF;
	}
	
	.t2 {
		margin-top: .3em;	
		margin-left: .6em;
		font-size: 12px;
		font-weight: normal;
		color: #FFF;
	}
	
	.st2 {
		margin-left: .9em;
		font-size: 9px;
		font-weight: normal;
		color: #FFF;
	}
	
	.song {
		margin-bottom: 1em;
	}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
