/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		
	}

	.rank1 {
		width: 150px;
		height: 150px;
	}	

	.rank2 {
		width: 200px;
		height: 200px;
	}

	.rank3 {
		width: 250px;
		height: 250px;
	}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
